/*
Error: Undefined variable: "$color__logo".
        on line 40 of modules/_site-header.scss
        from line 164 of screen.scss

35: 
36:   Your CSS begins with some global variables, a reset which
37:   is basically Normalize, some mixins, and a print stylesheet.
38: 
39: -----------------------------------------------------  *\/
40: 
41:   // Vars
42:   //
43:   @import "base/vars";
44: 
45:   // Reset

Backtrace:
modules/_site-header.scss:40
screen.scss:164
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:88:in `with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color__logo\".\A         on line 40 of modules/_site-header.scss\A         from line 164 of screen.scss\A \A 35: \A 36:   Your CSS begins with some global variables, a reset which\A 37:   is basically Normalize, some mixins, and a print stylesheet.\A 38: \A 39: -----------------------------------------------------  */\A 40: \A 41:   // Vars\A 42:   //\A 43:   @import \"base/vars\";\A 44: \A 45:   // Reset"; }
