@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?jlpnbk');
	src:url('fonts/icomoon.eot?#iefixjlpnbk') format('embedded-opentype'),
		url('fonts/icomoon.woff?jlpnbk') format('woff'),
		url('fonts/icomoon.ttf?jlpnbk') format('truetype'),
		url('fonts/icomoon.svg?jlpnbk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-24-horas:before {
	content: "\e600";
}
.icon-icon-buscador:before {
	content: "\e601";
}
.icon-icon-calderas:before {
	content: "\e602";
}
.icon-icon-calidad:before {
	content: "\e603";
}
.icon-icon-cerrajeros:before {
	content: "\e604";
}
.icon-icon-desatascos:before {
	content: "\e605";
}
.icon-icon-descuento:before {
	content: "\e606";
}
.icon-icon-dia-noche:before {
	content: "\e607";
}
.icon-icon-electricistas:before {
	content: "\e608";
}
.icon-icon-facebook:before {
	content: "\e609";
}
.icon-icon-fontaneros:before {
	content: "\e60a";
}
.icon-icon-google:before {
	content: "\e60b";
}
.icon-icon-informatica:before {
	content: "\e60c";
}
.icon-icon-limpieza-albanileria:before {
	content: "\e60d";
}
.icon-icon-list-home:before {
	content: "\e60e";
}
.icon-icon-location:before {
	content: "\e60f";
}
.icon-icon-persianas:before {
	content: "\e610";
}
.icon-icon-phone:before {
	content: "\e611";
}
.icon-icon-reparacion-electrodomesticos:before {
	content: "\e612";
}
.icon-icon-tv-video:before {
	content: "\e613";
}
.icon-icon-twitter:before {
	content: "\e614";
}
